.line-chart-container{
    $shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @mixin titleCard{
        font-family: sans-serif;
        color: #373737;
        font-weight: bold;
    }
    h1{
        font-family: sans-serif;
        color: #212B33;
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 70px;
        font-weight: 600;
    }
    .chart-container{
        display: flex;
        justify-content: space-between;
        max-height: 280px;
        .inner-chart{
            width: 500px;
            background-color: #fff;
            border-radius: 30px;
            box-shadow: $shadow;
            margin: 0 10px;
            box-sizing: border-box;
            padding: 15px 20px;
            p{
                @include titleCard;
            }
        }
    }
    footer{
        width: 100%;
        height: auto;
        max-height: 60px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        box-sizing: border-box;
        padding-bottom: 65px;
        a{
            img{
                animation: pulse .7s linear infinite alternate;
                opacity: .5;
                transition: .8s ease-out;
                &:hover{
                    opacity: 1;
                }
            }
        }
        @keyframes pulse{
            from{
                transform: scale(1);
            }
            to{
                transform: scale(1.3);
            }
        }
    }
}
@media only screen and(max-width: 540px){
    .line-chart-container{
        .chart-container{
            .inner-chart{
                width: 350px;
            }
        }
    }
}